@media (max-width:426px ){
    .brand{
        flex-direction: column-reverse;
        padding: 0px;
        margin: 0px; 
    }

    #bot-social{
        flex-direction: row;
    }
    header{
        padding:0 10px;
        
    }  
}


@media (max-width:792px ){

    header{
        padding:0 30px;
        
    }
  .humburger{
      display: block;
  }
  .nav-brand{
          font-size: 1.5em;
      }
   .nav-menu{
       position: absolute;
       top:0;
       left: 0;
       display: block;
       color:#303030;
       background: #8c9dff;
       height: 100vh;
       width: 80%;
       padding-top:100px;
       display: none;
        text-align: center;

   }
   .nav-item{
       display: block;
       margin:0;
       text-align: center;
   }
   
    .active-nav-menu{
        display: block;
    }
    .close{
        display: block;
    }

    .resume{
        display: none;
    }
}

